@import "tailwindcss";

@theme {
  --font-mono: "Space Mono", monospace;

  /* Palette Biru Gelap Retro */
  --color-cli-bg: #000000;      /* Background utama tetap hitam agar kontras */
  --color-cli-panel: #000022;   /* Panel sedikit kebiruan sangat gelap */
  --color-cli-border: #000055;  /* Garis batas biru */
  --color-cli-text: #e5e5e5;    
  --color-cli-dim: #444477;     
  
  /* Ini adalah warna BIRU SPESIFIK yang akan jadi aksen tombol & garis */
  --color-cli-accent: #0000AA;  
}

body {
  background-color: var(--color-cli-bg);
  color: var(--color-cli-text);
  font-family: var(--font-mono);
  overflow: hidden;
  text-transform: uppercase;
}

::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}
::-webkit-scrollbar-track {
  background: var(--color-cli-bg);
  border-left: 1px solid var(--color-cli-border);
}
::-webkit-scrollbar-thumb {
  background: var(--color-cli-dim);
}
::-webkit-scrollbar-thumb:hover {
  background: var(--color-cli-accent);
}

@keyframes scandown {
  0% { top: -10%; opacity: 0.6; }
  50% { opacity: 0.1; }
  100% { top: 110%; opacity: 0.6; }
}

.animate-scandown {
  animation: scandown 0.8s cubic-bezier(0.4, 0, 0.2, 1) infinite;
}